<div class="row">
    <h1>Greeted names: </h1>
    <a href="/"><button>Back</button></a>
    <ul>
        {{#each names}}
             <a href="/counter/{{this.name}}"><li>{{this.name}}</li> </a>  

            

        {{/each}}
    </ul>
    <hr>

</div>


