
body {
	background-image: url("../images/greet1.jpg");
	background-color: #cccccc;
	background-size: cover;
  }

.row{
	background-origin: padding-box;
}


.info {
color: rgb(255, 0, 0);

}

.counter {
	font-size: larger;
	padding: 1em;
}

.textbox {
display: inline;
}

.textBox{
border: 0.01em solid;
border-radius: 0.25;
padding: 1em;
margin: 0.5em;
width: 10em;	
}

@media(min-width: 1024px) {
	.container {
		width: 80%;
		margin: auto;
	}
}




